<div class="clearfix"></div>
<div class="container">
      <form [formGroup]="LoginForm" class="form-signin text-center" novalidate><br>
            <!-- <img class="mb-4" src="assets/images/LogoAnyhelp.png" alt="" width="72" height="72"> -->
            <div *ngIf="firststep">
                  <!-- <span class="" ><i class="bi bi-phone" width="72" height="72">12</i></span> -->
                  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                  <div class="form-group row">
                        <label for="input" class="col-sm-2 col-form-label">Mobile</label>
                        <div class="col-sm-5">
                              <input type="text" formControlName="mobileno" maxlength="10" class="form-control"
                                    id="mobileno" placeholder="Mobile" 
                                    [ngClass]="{ 'is-invalid': submitted && f.mobileno.errors }"
                                    (keypress)="keyPress($event)">
                              <div *ngIf="submitted && f.mobileno.errors" class="invalid-feedback">
                                    <div *ngIf="f.mobileno.errors.required">Please Enter Mobile Number</div>
                                    <div
                                          *ngIf="f.mobileno.errors.pattern || f.mobileno.errors.maxlength || f.mobileno.errors.minlength">
                                          Phone number must be at least 10 numbers</div>
                              </div>
                        </div>
                  </div>
            </div>
            <br>
            <div class="form-group row" *ngIf="firststep">
                  <label for="inputPassword3" class="col-sm-2 col-form-label">
                        <h4>{{firstNumber}} {{plusOrMinus}} {{secondNumber}} =</h4>
                  </label>
                  <div class="col-sm-5">
                        <input type="text" formControlName="recaptcha" maxlength="2" class="form-control" id="input"
                              placeholder="Enter Captch Code"
                              [ngClass]="{ 'is-invalid': submitted && f.recaptcha.errors }"
                              (keypress)="keyPress($event)">
                        <div *ngIf="submitted && f.recaptcha.errors" class="invalid-feedback">
                              <div *ngIf="f.recaptcha.errors.required">Please Enter Captch Code</div>
                        </div>
                  </div>
                  <button (click)="captchrefresh()" class="col-sm-1">Refresh</button>
            </div>
            <br>
            <div *ngIf="secondstep">
                  <h1 class="h3 mb-3 font-weight-normal">OTP Verification</h1>
                  <span>An OTP has been sent to</span>
                  <span>{{mobilenumber}}</span>
                  <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Enter OTP</label>
                        <div class="col-sm-5">
                              <input type="text" maxlength="4" (keypress)="keyPress($event)" formControlName="otpcode"
                                    class="form-control" id="input" placeholder="Enter OTP">
                        </div>
                        <label>{{counter | formatTime}} Minute expired</label>
                        <button (click)="ResendCode()" *ngIF="isResendcode">Resend Code</button>
                  </div>
            </div>


            <div class="form-group row">
                  <div class="col-sm-5" *ngIf="firststep">
                        <button type="submit" (click)="submitmobile()" class="btn btn-primary">Get OTP</button>
                  </div>
                  <div class="col-sm-5" *ngIf="secondstep">
                        <button type="submit" (click)="submitotpverify()" class="btn btn-primary">Verify &
                              Process</button>
                  </div>
            </div>
      </form>
</div>